body {

   background-image: url("/php_proj/img/title-background.jpg");
	font-family: 'Fjalla One', sans-serif;
     background-size: cover;
     color:white;
     
	
}
input {
	color: white;
	background-color: #787878 ;
	border-radius: 100px;
}

