body {
	background-color: #2e2e2e;
	color: white;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
 {
  height: 20px;
}

.push {
  height: 530px;
}

footer {

  background: #3d3d3d;
  color: white;
  line-height: 20px;
  padding-left: 10px;

}

.navbar {
	background-color: #1e1e1e;
	
}

.navbutton {



	font-family: 'Bungee Inline', cursive;
	
	text-decoration: none;
	

}

.navbutton:hover {
	background-color: red;
}

.location_head {
	text-align:center;
	font-family : 'Shrikhand', cursive;
	background-color: gray;
	
}


.location_info {
	margin: 0 auto;
	background-color: #7e7e7e;
	height: 150px;
	width: 80%;
	border-radius: 10px;
	color: black;
	font-family: 'Bungee Inline', cursive ;


}



#time {
	font-family : 'Shrikhand', cursive ;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;

}

.main_wrapper {
	height: 100%;
	width: 100%;
}
.left_main{
	height: 80%;
}

.post_bg {
	margin: 0 auto;
	background-color: #7e7e7e;
	height: 95%;
	border-radius: 10px;
}

.right_main{
	height: 100%;
}

.calendar_bg ,.todo_bg, .news_bg {

	margin: 0 auto;
	background-color: #7e7e7e;
	width: 80%;
	height: 400px;
	resize: both;
	overflow: auto;

}
.calendar_bg {
	height: 200px;
}

.toDo_title {
	font-family : 'Shrikhand', cursive ;	
}

input {
	width: 50%;
		font-family: 'Bungee Inline', cursive;
}
#panel_body {
	font-family: 'Bungee Inline', cursive;
	border-bottom: 1px solid gray;
}

#panel_body:hover {
	background-color: red;
}